<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.woniuticket.cinema.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.woniu.woniuticket.cinema.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
    <result column="vip_state" jdbcType="INTEGER" property="vipState" />
    <result column="vip_activetime" jdbcType="TIMESTAMP" property="vipActivetime" />
    <result column="heading" jdbcType="VARCHAR" property="heading" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="regist_code" jdbcType="VARCHAR" property="registCode" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, username, password, mobile, nickname, regist_time, vip_state, vip_activetime, 
    heading, invite_code, regist_code, user_state
  </sql>
  <select id="selectPageCondition" resultMap="BaseResultMap">
    select * from user where user_state= 0
    <if test="user!=null">

    </if>
  </select>
  <update id="updateActive">
    update user set user_state=#{state} where user_id=#{id}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.woniuticket.cinema.pojo.User">
    insert into user (user_id, username, password, 
      mobile, nickname, regist_time, 
      vip_state, vip_activetime, heading, 
      invite_code, regist_code, user_state
      )
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{registTime,jdbcType=TIMESTAMP}, 
      #{vipState,jdbcType=INTEGER}, #{vipActivetime,jdbcType=TIMESTAMP}, #{heading,jdbcType=VARCHAR}, 
      #{inviteCode,jdbcType=VARCHAR}, #{registCode,jdbcType=VARCHAR}, #{userState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.woniuticket.cinema.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="registTime != null">
        regist_time,
      </if>
      <if test="vipState != null">
        vip_state,
      </if>
      <if test="vipActivetime != null">
        vip_activetime,
      </if>
      <if test="heading != null">
        heading,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="registCode != null">
        regist_code,
      </if>
      <if test="userState != null">
        user_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipState != null">
        #{vipState,jdbcType=INTEGER},
      </if>
      <if test="vipActivetime != null">
        #{vipActivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="heading != null">
        #{heading,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="registCode != null">
        #{registCode,jdbcType=VARCHAR},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.woniuticket.cinema.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null">
        regist_time = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vipState != null">
        vip_state = #{vipState,jdbcType=INTEGER},
      </if>
      <if test="vipActivetime != null">
        vip_activetime = #{vipActivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="heading != null">
        heading = #{heading,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="registCode != null">
        regist_code = #{registCode,jdbcType=VARCHAR},
      </if>
      <if test="userState != null">
        user_state = #{userState,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.woniuticket.cinema.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=TIMESTAMP},
      vip_state = #{vipState,jdbcType=INTEGER},
      vip_activetime = #{vipActivetime,jdbcType=TIMESTAMP},
      heading = #{heading,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      regist_code = #{registCode,jdbcType=VARCHAR},
      user_state = #{userState,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>